<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "Tournaments" connectionString="Server =./DESKTOP-9O9FNK3\LOCALDB#3A207ED1; Database=Tournaments; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<!--<add name="Tournaments" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Tournaments;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
</configuration>